/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header styling */
header {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    padding: 5px 10px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

/* Welcome section styling */
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.text-content {
    max-width: 50%;
    text-align: left;
    
}

h1 {
    font-size: 36px;
    color: #333;
    line-height: 1.4;

}

.bold-text {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
    line-height: 1.6;
}

.option-btn {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: auto;  /* Ensure width auto for the button */
    transition: background-color 0.3s ease;
}

.option-btn + .option-btn {
    margin-inline-start: 10px;  /* Increase space between the two buttons */
}

.option-btn:focus {
    outline: 2px solid #0056b3;
}

.option-btn:hover {
    background-color: #218838;
}

.image-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    font-size: 14px;
    border-top: 1px solid #ddd;
    width: 100%;
}
